.cover {
  margin: auto;
  padding-bottom: 92px;
  max-width: 1184px;
  padding-top: 62.5%;
  position: relative;
  box-sizing: border-box;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
}

.cover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #000;
	opacity: 0.3;
	transition: opacity 200ms ease;
}

.cover:hover::before {
	opacity: 0.8;
}

@media (max-width: 1024px) {
  .lead {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .lead {
    padding-bottom: 64px;
  }
}
